# python -m venv .\venv
# .\venv\Scripts\activate
# pip install -r requirements.txt
# Declarar variable con la ubicación del archivo
# set FLASK_APP=app.py
# set SQLALCHEMY_DATABASE_URI=
# flask run

Flask>=2.2.2
flask-sqlalchemy
flask-restful
psycopg2
SQLAlchemy
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
flask-cors
urllib3
gunicorn
