# python -m venv .\venv
# .\venv\Scripts\activate
# pip install -r requirements.txt
# Declarar variable con la ubicación del archivo
# set FLASK_APP=app.py
# set SQLALCHEMY_DATABASE_URI=
# flask run

urllib3
psycopg2==2.9.6
Flask==2.2.2
flask-cors
Flask-SQLAlchemy==2.4.1
Flask-RESTful==0.3.10
SQLAlchemy==2.0.16
flask-marshmallow==0.15.0
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
gunicorn
